div{
  text-align: center;
}
h1{
  padding: 20px;
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 20px;
}
h2{
  text-align: center;
  padding: 10px;
  background-color: lightblue;
  
}
button{
  margin: 5px;
 padding: 20px;
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  background-color: lightgreen;
}